{% extends '::layout/backend.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}

<div class="row-fluid">
    <div class="span12">
        <div class="grid simple ">
            <div class="grid-title">
                <h4><span class="semi-bold">Ajouter Categorie</span></h4>
            </div>
            <div class="grid-body">
                {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <div style=" float: right; margin-right: 1%; " >
                        <a href="{{ path('categorie_index') }}"><span class="btn btn-default" >Retour à la liste</span>   </a>
                        <button id="sub" type="submit" class="btn btn-info" >Ajouter Categorie</button>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>

{% endblock %}
