{% extends '::layout/backend.html.twig' %}

{% block body %}

<div class="row-fluid">
    <div class="span12">
        <div class="grid simple ">
            <div class="grid-title">
                <h4><span class="semi-bold">Media</span></h4>
            </div>
                <div class="grid-body">

                <div class="form-group">
                    <div class="form-group">
                        <div class="row">
                            {% for img in media %}
                            <div class="col-lg-3 col-sm-4 col-xs-6" style="margin-bottom:50px;"><a href="#">
                                <img class="thumbnail img-responsive" style="width:250px;height:150px;" src="{{ asset(img.image) }}"></a>
                                <center><a target="_blank" href="{{ path('media_edit', { 'id': img.id }) }}"><span class="btn btn-sm btn-default">Modifier/Supprimer</span></a></center>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="text-center">
                            {{ knp_pagination_render(media) }}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
